<%- include('../partials/header') %>

<h1>see car's details</h1>

<table>
    <thead>
      <tr>
        <th>Year</th> <br>
        <th>Make</th><br>
        <th>Model</th><br>
        <th>Price</th><br>
        <th>Color</th><br>
        <th>Description</th><br>
        <th>For Sale</th><br>
      </tr>
    </thead>
    <tbody>
        
        <tr>
          <td><%= carDetails.year %></td>
          <td><%= carDetails.make %></td>
          <td><%= carDetails.model %></td>
          <td><%= carDetails.price %></td>
          <td><%= carDetails.color %></td>
          <td><%= carDetails.description %></td>
          <td><%= carDetails.forSale %></td>
          <%if (carDetails.owner === userId) {%>
            <td> <a href="/myCars/show"> Edit </a></td>
            <td> <a href="/myCars"> 🚮</a></td>
          <% } %>
        </tr>
    </tbody>
  </table>