<%- include('../partials/header') %>

<div class="title">
    <h1>Car's details</h1>
</div>

<div class="show-main">

    <div class="show-car-img-container">
        <img class="show-car-img" src=<%= carDetails.image %> alt="">
    </div>

    <div class="car-info">
        <div class="show-cartype">
            <p class="show-year"><%= carDetails.year %></p>
            <p class="show-make"><%= carDetails.make %></p>
            <p class="show-model"><%= carDetails.model %></p>
        </div>
        <div class="price-color-description">
            <p class="show-color"><b>Color:</b>&nbsp&nbsp<%= carDetails.color %></p><br>
            <p class="show-price"><b>Price:</b>&nbsp&nbsp$<%= carDetails.price %></p><br>
            <p class="show-description"><b>Description:</b> <br> <%= carDetails.description %></p>
        </div>
        <%if (carDetails.owner?.toString() === userId?.toString()) {%>
            <div class="edit-delete">
                <p> <a href="/myCars/<%=carDetails._id%>/edit" class="show-edit"> Edit </a></p>
                <form action="/myCars/<%= carDetails._id %>?_method=DELETE" method="POST" class="show-delete-form">
                    <button type="submit" class="show-delete">Delete</button>
                </form>
            </div>
            <% } else { %>
                <div class="show-buy">
                    <p> <a href="/payment/<%= carDetails._id %>" class="buy" > Buy</a></p>
                </div>
                <% } %>
                
    </div>
</div>

  <%- include('../partials/footer') %>