<%- include('../partials/header') %>

<h1>see car's details</h1>

<table>
    <thead>
      <tr>
        <th>Year</th> <br>
        <th>Make</th><br>
        <th>Model</th><br>
        <th>Price</th><br>
        <th>Color</th><br>
        <th>Description</th><br>
        <th>For Sale</th><br>
        <%if (carDetails.owner?.toString() === userId?.toString()) {%>
            <th>Edit</th>
            <th>Delete</th>
          <% } else{ %>
            <th> Buy </th>
          <% } %>
      </tr>
    </thead>
    <tbody>
        
        <tr>
          <td><%= carDetails.year %></td>
          <td><%= carDetails.make %></td>
          <td><%= carDetails.model %></td>
          <td><%= carDetails.price %></td>
          <td><%= carDetails.color %></td>
          <td><%= carDetails.description %></td>
          <td><%= carDetails.forSale %></td>
          <%if (carDetails.owner?.toString() === userId?.toString()) {%>
            <td> <a href="/myCars/show"> Edit </a></td>
            <form action="/myCars/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">🚮</button>
            </form>
            <% } else { %>
                <td> <a href="/payment"> Buy</a></td>
            <% } %>
        </tr>
    </tbody>
  </table>