<%- include('../partials/header') %>

<h1>See all cars here</h1>


<table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Price</th>
        <th>Color</th>
        <th>Description</th>
        <th>Details</th>
        <th>Buy</th>
      </tr>
    </thead>
    <tbody>
    <%if (vehicleList.length) {%>
      <% vehicleList.forEach(function(c) { %>
        <tr>
          <td><%= c.year %></td>
          <td><%= c.make %></td>
          <td><%= c.model %></td>
          <td><%= c.price %></td>
          <td><%= c.color %></td>
          <td><%= c.description %></td>
          <td> <a href="/show/<%= c.id %>"> Details </a></td>
          <td> <a href="/payment"> BUY </a></td>
        </tr>
      <% }); %>
      <% } else {%>
        <h3>No Cars Yet</h3>
      <% } %>
    </tbody>
  </table>