<%- include('./partials/header') %>
<div class="title">
    <h1>My Cars</h1>
</div>

    <%if (carsOwned.length) {%>
        <div class="card-container">
            <% carsOwned.forEach(function(c) { %>
                <div class="card">
                    <div class="carimg-container">
                        <img class="carimg" src=<%= c.image %> alt="">
                    </div>
                        <div class="container">
                            <p class="year"><%= c.year %></p>
                        <div class="cartype">
                            <p class="make"><%= c.make %></p>
                            <p class="model"><%= c.model %></p>
                        </div>
                        <p class="price">$<%= c.price %></p>
                        <div class="mycars-edit-delete">
                            <p> <a href="/myCars/<%=c._id%>/edit" class="mycars-edit"> Edit </a></p>
                            <form action="/myCars/<%= c._id %>?_method=DELETE" method="POST" class="delete-form">
                                    <button type="submit" class="mycars-delete">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
      <% } else {%>
        <h3>No Cars Yet</h3>
      <% } %>

  <%- include('./partials/footer') %>


