<%- include('./partials/header') %>

<h1>view cars that you own here</h1>

<table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Price</th>
        <th>Color</th>
        <th>For Sale</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <%if (carsOwned.length) {%>
      <% carsOwned.forEach(function(c) { %>
        <tr>
          <td><img src=<%= c.image %> alt=""></td>
          <td><%= c.year %></td>
          <td><%= c.make %></td>
          <td><%= c.model %></td>
          <td><%= c.price %></td>
          <td><%= c.color %></td>
          <td><%= c.forSale %></td>
          <td> <a href="/myCars/<%=c._id%>/edit"> Edit </a></td>
          <td> 
            <form action="/myCars/<%= c._id %>?_method=DELETE" 
                method="POST"
                class="delete-form"
                >
                    <button type="submit">🚮</button>
            </form>
          </td>
        </tr>
      <% }); %>
      <% } else {%>
        <h3>No Cars Yet</h3>
      <% } %>
    </tbody>
  </table>